<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719178323161-ct0l7jk7cakrs08ehhdjqjrbue3p10k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719178323161-ct0l7jk7cakrs08ehhdjqjrbue3p10k2</string>
	<key>API_KEY</key>
	<string>AIzaSyDAcbK8Mbua4f7E4U5SrIP6_L-SkBdmbcU</string>
	<key>GCM_SENDER_ID</key>
	<string>719178323161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.parii.firstApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>first-project-395117</string>
	<key>STORAGE_BUCKET</key>
	<string>first-project-395117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719178323161:ios:28ed1e5b5e877f80ebdac8</string>
</dict>
</plist>